:root {
    box-sizing: border-box;
  }
  
*, ::before, ::after {
box-sizing: inherit;
}

body {
font-family: Helvetica, Arial, sans-serif;
}

body * + * {
margin-top: 1.5em;
}
.main{
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    
}
.itemRow {
    padding-bottom: .5em;
    display: flex;
}

.bigAvatar {
    margin: 24px 15px 0 0;
    width: 150px;
    height: 150px;
  }
  
  .itemContents {
    flex-direction: column;
    flex: 2;
  }

.title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
}

hr{
    margin-top: 0px;
    border-color: lightgray;
}


.img{
    margin-right: 20px;
}

.img img{
    width: 150px; 
    height: 120px;
}

.triangle{
    color: #5384ba;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* supported by Chrome, Edge, Opera and Firefox */
}

.number{
    font-weight: bold;
    font-size: 1.3em;
}

.author{
    margin-top: 0;
    color:#5384ba;
    font-size:16px;
    font-weight: bold;
}

.description{
    color: #000;
    margin: 0px;
    font-size:16px;
    font-weight: 400;
}

.submit{
    color: gray;
    align-self: center;
}

.avatar{
    height: 30px;
    width: 30px;
    margin: 0, 0, 0, 0;
    border-radius: 50%;
}